@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.container {
	margin: 0 auto;
	max-width: $max-width;
	padding: 0 $spacing-md;
	width: 100%;

	@include respond-to(md) {
		padding: 0 $spacing-xl;
	}
}