@use '../abstracts/variables' as *;

.page-section {
	border-bottom: 1px solid $color-border;
	padding-block: $spacing-2xl;
}

.page-section--compact {
	padding-block: $spacing-md;
}

.page-section--hero {
	padding-block: $spacing-3xl;
}
